
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-588442135225762619.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-588442135225762619.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-588442135225762619.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-588442135225762619.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-588442135225762619.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-588442135225762619.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-588442135225762619.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-588442135225762619.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-588442135225762619.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-588442135225762619.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-588442135225762619.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-588442135225762619.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-588442135225762619.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-588442135225762619.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-588442135225762619.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-588442135225762619.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-588442135225762619.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-588442135225762619.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-588442135225762619.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-588442135225762619.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-588442135225762619.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-588442135225762619.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-588442135225762619.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-588442135225762619.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-588442135225762619.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-588442135225762619.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-588442135225762619.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-588442135225762619.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-588442135225762619.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-588442135225762619.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-588442135225762619.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-588442135225762619.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-588442135225762619.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-588442135225762619.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-588442135225762619.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-588442135225762619.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-588442135225762619.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-588442135225762619.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-588442135225762619.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-588442135225762619.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-588442135225762619.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-588442135225762619.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-588442135225762619.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-588442135225762619.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-588442135225762619.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-588442135225762619.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-588442135225762619.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-588442135225762619.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-588442135225762619.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-588442135225762619.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-588442135225762619.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-588442135225762619.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-588442135225762619.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-588442135225762619.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-588442135225762619.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-588442135225762619.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-588442135225762619.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-588442135225762619.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-588442135225762619.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-588442135225762619.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-588442135225762619.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-588442135225762619.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-588442135225762619.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-588442135225762619.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-588442135225762619.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-588442135225762619.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-588442135225762619.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-588442135225762619.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-588442135225762619.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-588442135225762619.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-588442135225762619.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-588442135225762619.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-588442135225762619.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-588442135225762619.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-588442135225762619.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-588442135225762619.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-588442135225762619 .gp-relative{position:relative}.gps-588442135225762619 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-588442135225762619 .gp-mb-0{margin-bottom:0}.gps-588442135225762619 .gp-inline-block{display:inline-block}.gps-588442135225762619 .gp-flex{display:flex}.gps-588442135225762619 .gp-grid{display:grid}.gps-588442135225762619 .gp-contents{display:contents}.gps-588442135225762619 .\!gp-hidden{display:none!important}.gps-588442135225762619 .gp-hidden{display:none}.gps-588442135225762619 .gp-h-auto{height:auto}.gps-588442135225762619 .gp-h-full{height:100%}.gps-588442135225762619 .gp-w-full{width:100%}.gps-588442135225762619 .gp-max-w-full{max-width:100%}.gps-588442135225762619 .gp-flex-none{flex:none}.gps-588442135225762619 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-588442135225762619 .gp-flex-col{flex-direction:column}.gps-588442135225762619 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588442135225762619 .gp-duration-200{transition-duration:.2s}.gps-588442135225762619 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-588442135225762619 .tablet\:\!gp-hidden{display:none!important}.gps-588442135225762619 .tablet\:gp-hidden{display:none}.gps-588442135225762619 .tablet\:gp-h-auto{height:auto}.gps-588442135225762619 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-588442135225762619 .mobile\:\!gp-hidden{display:none!important}.gps-588442135225762619 .mobile\:gp-hidden{display:none}.gps-588442135225762619 .mobile\:gp-h-auto{height:auto}.gps-588442135225762619 .mobile\:gp-flex-none{flex:none}}.gps-588442135225762619 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(800px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:none;--pl-mobile:none;--pr:var(--g-ct-p, 15px);--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gSLPqix2hy"}' data-id="gSLPqix2hy" id="gSLPqix2hy" data-same-height-subgrid-container class="gSLPqix2hy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:36px;--pl-mobile:20px;--pb-mobile:36px;--pr-mobile:20px;--pt-tablet:64px;--pl-tablet:48px;--pb-tablet:0px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:800px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvZ_TOOEWg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9c11k6OTt"
        class="g9c11k6OTt"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760287135322"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:29px;--size-tablet:37px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9c11k6OTt_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gww-z3UTKd"}' data-id="gww-z3UTKd" id="gww-z3UTKd" data-same-height-subgrid-container class="gww-z3UTKd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--cg:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gdWAjV8Uqa gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gB4xgOitTt"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760287135325 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gB4xgOitTt"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588441760489800507-70648ef9-ed76-45db-a8b8-76745b6bedd5.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAxIiBoZWlnaHQ9IjI1MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjAxLTI1MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjAxIiBoZWlnaHQ9IjI1MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAxIiBoZWlnaHQ9IjI1MSIgZmlsbD0idXJsKCNnLTIwMS0yNTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMDEiIHRvPSIyMDEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588441760489800507-70648ef9-ed76-45db-a8b8-76745b6bedd5.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAxIiBoZWlnaHQ9IjI1MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjAxLTI1MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjAxIiBoZWlnaHQ9IjI1MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAxIiBoZWlnaHQ9IjI1MSIgZmlsbD0idXJsKCNnLTIwMS0yNTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMDEiIHRvPSIyMDEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_588441760489800507-70648ef9-ed76-45db-a8b8-76745b6bedd5.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAxIiBoZWlnaHQ9IjI1MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjAxLTI1MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjAxIiBoZWlnaHQ9IjI1MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAxIiBoZWlnaHQ9IjI1MSIgZmlsbD0idXJsKCNnLTIwMS0yNTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMDEiIHRvPSIyMDEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_588441760489800507-70648ef9-ed76-45db-a8b8-76745b6bedd5.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:60px;--w-tablet:60px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g20oJzWEr6 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gx83GDs_mZ"}' data-id="gx83GDs_mZ" id="gx83GDs_mZ" data-same-height-subgrid-container class="gx83GDs_mZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:4px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYBckJwu-c gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_PqPvDzRu"
        class="g_PqPvDzRu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760287135329"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_PqPvDzRu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g2Xw_PiPe- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcSjKtymfN"
        class="gcSjKtymfN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760287135330"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcSjKtymfN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="ge6Gb3P1ga gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkUR3_XOjX"
        class="gkUR3_XOjX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760287135332"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkUR3_XOjX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#E2E2E2","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"gDNO0W9nz7"}' data-id="gDNO0W9nz7" id="gDNO0W9nz7" data-same-height-subgrid-container class="gDNO0W9nz7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--pt:16px;--pl:32px;--pb:16px;--pr:32px;--mr-mobile:auto;--pt-mobile:14px;--pl-mobile:32px;--pb-mobile:14px;--pr-mobile:32px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#E2E2E2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUDrYxmBVR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHboygj04d"
        class="gHboygj04d"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760287135335"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--weight:bold;--c:#3D3D3D;word-break:break-word;--bgc:#E2E2E2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHboygj04d_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-588442135225762619 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/y1behc-h0/apps/gempages-cro/app/shopify/edit?pageType=GP_FUNNEL_PAGE&editorId=588441958863602491&sectionId=588442135225762619)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9c11k6OTt_text","label":"gg9c11k6OTt_text","default":"Ancient Frequency Code Reveals: How Men Accidentally Drain 90% Of Their Manifestation Power After 35, AAnd How To Get It Back"},{"type":"html","id":"gg_PqPvDzRu_text","label":"gg_PqPvDzRu_text","default":"<p>By <strong>Noah M.</strong></p>"},{"type":"html","id":"ggcSjKtymfN_text","label":"ggcSjKtymfN_text","default":"<p>|</p>"},{"type":"html","id":"ggkUR3_XOjX_text","label":"ggkUR3_XOjX_text","default":"<p>Last Updated May 5.2025</p>"},{"type":"html","id":"ggHboygj04d_text","label":"ggHboygj04d_text","default":"<p><span style=\"color:#000000;\">You’re not imagining it.</span> Something <i>is</i> quietly draining your focus, drive, and prosperity signal every single night. <span style=\"color:#000000;\">Egyptian</span> historians called it the <span style=\"color:#000000;\">“Law of Diminishing Light.”</span> And according to <span style=\"color:#000000;\">Amara Callen’s</span> recent research, this ancient warning wasn’t metaphorical, it was <span style=\"color:#000000;\"><i>scientific</i>.</span> Because when your <span style=\"color:#000000;\">frequency weakens after 35</span>, so does your luck. But for the first time in centuries, the code to restore it <span style=\"color:#000000;\"><strong>has been decoded.</strong></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  