
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-591052554121839562.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-591052554121839562.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-591052554121839562.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-591052554121839562.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-591052554121839562.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-591052554121839562.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-591052554121839562.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-591052554121839562.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-591052554121839562.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-591052554121839562.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-591052554121839562.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-591052554121839562.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-591052554121839562.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-591052554121839562.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-591052554121839562.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-591052554121839562.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-591052554121839562.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-591052554121839562.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-591052554121839562.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-591052554121839562.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-591052554121839562.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-591052554121839562.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-591052554121839562.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-591052554121839562.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-591052554121839562.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-591052554121839562.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-591052554121839562.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-591052554121839562.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-591052554121839562.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-591052554121839562.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-591052554121839562.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-591052554121839562.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-591052554121839562.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-591052554121839562.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-591052554121839562.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-591052554121839562.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-591052554121839562.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-591052554121839562.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-591052554121839562.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-591052554121839562.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-591052554121839562.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-591052554121839562.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-591052554121839562.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-591052554121839562.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-591052554121839562.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-591052554121839562.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-591052554121839562.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-591052554121839562.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-591052554121839562.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-591052554121839562.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-591052554121839562.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-591052554121839562.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-591052554121839562.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-591052554121839562.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-591052554121839562.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-591052554121839562.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-591052554121839562.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-591052554121839562.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-591052554121839562.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-591052554121839562.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-591052554121839562.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-591052554121839562.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-591052554121839562.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-591052554121839562.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-591052554121839562.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-591052554121839562.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-591052554121839562.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-591052554121839562.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-591052554121839562.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-591052554121839562.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-591052554121839562.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-591052554121839562.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-591052554121839562.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-591052554121839562.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-591052554121839562.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-591052554121839562.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-591052554121839562.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-591052554121839562.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-591052554121839562.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-591052554121839562.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-591052554121839562.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-591052554121839562.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-591052554121839562.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-591052554121839562.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-591052554121839562.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-591052554121839562.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-591052554121839562 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-591052554121839562 .gp-relative{position:relative}.gps-591052554121839562 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-591052554121839562 .gp-mb-0{margin-bottom:0}.gps-591052554121839562 .gp-flex{display:flex}.gps-591052554121839562 .gp-inline-flex{display:inline-flex}.gps-591052554121839562 .gp-grid{display:grid}.gps-591052554121839562 .\!gp-hidden{display:none!important}.gps-591052554121839562 .gp-hidden{display:none}.gps-591052554121839562 .gp-h-full{height:100%}.gps-591052554121839562 .gp-max-w-full{max-width:100%}.gps-591052554121839562 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-591052554121839562 .gp-flex-col{flex-direction:column}.gps-591052554121839562 .gp-items-center{align-items:center}.gps-591052554121839562 .gp-justify-center{justify-content:center}.gps-591052554121839562 .gp-overflow-hidden{overflow:hidden}.gps-591052554121839562 .gp-break-words{overflow-wrap:break-word}.gps-591052554121839562 .gp-text-center{text-align:center}.gps-591052554121839562 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-591052554121839562 .gp-no-underline{text-decoration-line:none}.gps-591052554121839562 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591052554121839562 .gp-duration-200{transition-duration:.2s}.gps-591052554121839562 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591052554121839562 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-591052554121839562 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-591052554121839562 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-591052554121839562 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-591052554121839562 .tablet\:\!gp-hidden{display:none!important}.gps-591052554121839562 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-591052554121839562 .mobile\:\!gp-hidden{display:none!important}.gps-591052554121839562 .mobile\:gp-hidden{display:none}}.gps-591052554121839562 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-591052554121839562 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#121212","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gQ_XBGZl5y"}' data-id="gQ_XBGZl5y" id="gQ_XBGZl5y" data-same-height-subgrid-container class="gQ_XBGZl5y gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:36px;--pl-mobile:20px;--pb-mobile:36px;--pr-mobile:20px;--pt-tablet:64px;--pl-tablet:48px;--pb-tablet:0px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#121212;--bgc-mobile:#000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSzgsKYPgv gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gl4_HBC1FE"
        class="gl4_HBC1FE"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:-50px;--ml-mobile:20px;--mr-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761824746585"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:100px;--pr:100px;--pt:16px;--pb:16px;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggl4_HBC1FE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/the-lost-laws-of-manifestation-audiobook-free-gifts","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gWKf3yaKUS"].gp-button-base::before, [data-id="gWKf3yaKUS-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gWKf3yaKUS"]:hover::before, [data-id="gWKf3yaKUS-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gWKf3yaKUS" dataId="gWKf3yaKUS" data-state="idle" aria-label="<p>CHECK AVAILABILITY &gt;&gt;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/the-lost-laws-of-manifestation-audiobook-free-gifts" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:50px;--pr-mobile:50px;--pt-mobile:9px;--pb-mobile:9px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:#004299;--bg:#07B1F3;--c:var(--g-c-text-3, text-3)"
          class="gWKf3yaKUS gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggWKf3yaKUS_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-591052554121839562 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/y1behc-h0/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=591052554037625802&sectionId=591052554121839562)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggl4_HBC1FE_text","label":"ggl4_HBC1FE_text","default":"<p>When the group of researchers asked <strong>Amara Callen</strong> how a simple sequence of meditations and frequency alignments could alter a person’s fortune, she didn’t answer directly.</p><p>&nbsp;</p><p>Instead, she spoke of an ancient principle carved into the walls of <strong>Dendera’s Temple of Hathor,</strong> a concept the priests called <strong>“Sekhem Ra.”</strong></p><p>&nbsp;</p><p><i>“Sekhem,”</i> she explained, <i>“isn’t just energy. It’s the measurable current of life-force that connects the Ka,the body’s vitality, to the Ba, the soul’s higher frequency.”</i></p><p>&nbsp;</p><p>To the Egyptians, wealth wasn’t paper or gold.<br>It was <strong>flow,</strong> the harmony between the seen and the unseen.</p><p><br>When Sekhem flowed freely through a person’s Ka and Ba, everything around them moved into resonance: crops flourished, trades succeeded, relationships aligned, and even illness faded.</p><p><br>When the current stagnated, misfortune followed.</p><p>The priests called these states <i>Ma’at</i> and <i>Isfet,</i> order and chaos.</p><p><br>Good fortune simply meant that your internal field matched the frequency of Ma’at.</p><p>&nbsp;</p><p>Amara revealed that what modern people label <i>“luck”</i> is the same phenomenon the ancients documented 3,000 years ago:</p><p>the universe responding to your <strong>energetic coherence.</strong></p><p>“When your Ka is grounded in calm certainty,” she said, “reality arranges itself around you.</p><p><br>When anxiety, fear, or grief distort that field, the outer world mirrors that disorder.”</p><p>&nbsp;</p><p>Inside <i>The Lost Laws of Manifestation,</i> Amara mapped how emotion, breath, and focus alter the electromagnetic patterns surrounding the human heart and brain, the same bio-resonance that ancient initiates enhanced through sound and geometry inside Hathor’s resonance chambers.</p><p>&nbsp;</p><p>She demonstrated that by re-tuning this internal current, through what she calls <strong>The Void Protocol,</strong> the Ka and Ba reconnect.</p><p><br>That reconnection restores Sekhem, the life-force responsible for magnetism, intuition, and prosperity.</p><p>&nbsp;</p><p>And when it happens, the results follow a precise pattern Amara has observed for years:</p><p>1️⃣ <strong>First Phase: Energy Return:</strong> within 7 days, subtle coincidences begin, a refund, an apology, an offer that seemed lost.</p><p><br>2️⃣ <strong>Second Phase: Ancestral Flow:</strong> by the second month, opportunities reappear from long-dormant sources, investments, clients, forgotten debts repaid.</p><p><br>3️⃣ <strong>Third Phase: Vital Rejuvenation:</strong> by day 90, the body mirrors the field, pain eases, sleep deepens, creativity surges.</p><p>&nbsp;</p><p>Skeptics call it placebo.</p><p><br>Physicists call it <strong>bio-field coherence.</strong></p><p><br>The Egyptians simply called it <i>Ma’at, the return of divine order within.</i></p><p>&nbsp;</p><p>As Amara concluded to the stunned group inside the temple:</p><p>“When the human field vibrates in harmony with Ma’at,<br>the universe answers with abundance.</p><p><br>That is the true secret of the Lost Laws.”</p>"},{"type":"html","id":"ggWKf3yaKUS_label","label":"ggWKf3yaKUS_label","default":"<p>CHECK AVAILABILITY &gt;&gt;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  