
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-588474099664421465.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-588474099664421465.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-588474099664421465.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-588474099664421465.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-588474099664421465.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-588474099664421465.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-588474099664421465.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-588474099664421465.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-588474099664421465.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-588474099664421465.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-588474099664421465.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-588474099664421465.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-588474099664421465.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-588474099664421465.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-588474099664421465.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-588474099664421465.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-588474099664421465.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-588474099664421465.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-588474099664421465.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-588474099664421465.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-588474099664421465.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-588474099664421465.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-588474099664421465.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-588474099664421465.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-588474099664421465.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-588474099664421465.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-588474099664421465.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-588474099664421465.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-588474099664421465.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-588474099664421465.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-588474099664421465.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-588474099664421465.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-588474099664421465.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-588474099664421465.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-588474099664421465.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-588474099664421465.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-588474099664421465.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-588474099664421465.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-588474099664421465.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-588474099664421465.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-588474099664421465.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-588474099664421465.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-588474099664421465.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-588474099664421465.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-588474099664421465.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-588474099664421465.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-588474099664421465.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-588474099664421465.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-588474099664421465.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-588474099664421465.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-588474099664421465.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-588474099664421465.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-588474099664421465.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-588474099664421465.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-588474099664421465.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-588474099664421465.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-588474099664421465.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-588474099664421465.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-588474099664421465.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-588474099664421465.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-588474099664421465.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-588474099664421465.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-588474099664421465.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-588474099664421465.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-588474099664421465.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-588474099664421465.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-588474099664421465.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-588474099664421465.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-588474099664421465.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-588474099664421465.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-588474099664421465.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-588474099664421465.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-588474099664421465.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-588474099664421465.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-588474099664421465.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-588474099664421465.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-588474099664421465.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-588474099664421465.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-588474099664421465.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-588474099664421465.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-588474099664421465.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-588474099664421465.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-588474099664421465.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-588474099664421465.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-588474099664421465.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-588474099664421465.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-588474099664421465.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-588474099664421465.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-588474099664421465 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-588474099664421465 .gp-relative{position:relative}.gps-588474099664421465 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-588474099664421465 .gp-mb-0{margin-bottom:0}.gps-588474099664421465 .gp-flex{display:flex}.gps-588474099664421465 .gp-inline-flex{display:inline-flex}.gps-588474099664421465 .gp-grid{display:grid}.gps-588474099664421465 .\!gp-hidden{display:none!important}.gps-588474099664421465 .gp-hidden{display:none}.gps-588474099664421465 .gp-h-full{height:100%}.gps-588474099664421465 .gp-max-w-full{max-width:100%}.gps-588474099664421465 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-588474099664421465 .gp-flex-col{flex-direction:column}.gps-588474099664421465 .gp-items-center{align-items:center}.gps-588474099664421465 .gp-justify-center{justify-content:center}.gps-588474099664421465 .gp-overflow-hidden{overflow:hidden}.gps-588474099664421465 .gp-break-words{overflow-wrap:break-word}.gps-588474099664421465 .gp-text-center{text-align:center}.gps-588474099664421465 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-588474099664421465 .gp-no-underline{text-decoration-line:none}.gps-588474099664421465 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588474099664421465 .gp-duration-200{transition-duration:.2s}.gps-588474099664421465 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588474099664421465 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-588474099664421465 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-588474099664421465 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-588474099664421465 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-588474099664421465 .tablet\:\!gp-hidden{display:none!important}.gps-588474099664421465 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-588474099664421465 .mobile\:\!gp-hidden{display:none!important}.gps-588474099664421465 .mobile\:gp-hidden{display:none}}.gps-588474099664421465 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-588474099664421465 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#121212","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false},"mobile":{"attachment":"scroll","color":"#000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"g3-UuZPWiO"}' data-id="g3-UuZPWiO" id="g3-UuZPWiO" data-same-height-subgrid-container class="g3-UuZPWiO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:36px;--pl-mobile:20px;--pb-mobile:36px;--pr-mobile:20px;--pt-tablet:64px;--pl-tablet:48px;--pb-tablet:0px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#121212;--bgc-mobile:#000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gclSqpMeQE gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXwChEuPof"
        class="gXwChEuPof"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760289096707"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:30px;--size-tablet:16px;--size-mobile:19px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--weight:bold;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:50px;--pb-tablet:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:40px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXwChEuPof_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4VcHq0Hq8"
        class="g4VcHq0Hq8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:0px;--ml-mobile:20px;--mr-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760289096709"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:Auto;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:100px;--pr:100px;--pt:16px;--pb:16px;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4VcHq0Hq8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/the-lost-laws-of-manifestation-audiobook-free-gifts","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gd8Lcc8rb7"].gp-button-base::before, [data-id="gd8Lcc8rb7-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gd8Lcc8rb7"]:hover::before, [data-id="gd8Lcc8rb7-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gd8Lcc8rb7" dataId="gd8Lcc8rb7" data-state="idle" aria-label="<p>CHECK AVAILABILITY &gt;&gt;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/the-lost-laws-of-manifestation-audiobook-free-gifts" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:50px;--pr-mobile:50px;--pt-mobile:9px;--pb-mobile:9px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:#004299;--bg:#07B1F3;--c:var(--g-c-text-3, text-3)"
          class="gd8Lcc8rb7 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggd8Lcc8rb7_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-588474099664421465 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/y1behc-h0/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=588474099597050457&sectionId=588474099664421465)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggXwChEuPof_text","label":"ggXwChEuPof_text","default":"<p>⭐ Over 1,400 Five-Star Reviews and Counting</p>"},{"type":"html","id":"gg4VcHq0Hq8_text","label":"gg4VcHq0Hq8_text","default":"<p>Since its quiet release, <i>The Lost Laws of Manifestation</i> has already received more than <strong>1,400 verified 5-star reviews</strong> from readers around the world, each describing transformations that echo the ancient Egyptian principle of <i>Sekhem Flow</i>: the return of one’s original life-force frequency.</p><p>&nbsp;</p><p>Here are just a few of their stories:</p><p>&nbsp;</p><p><strong>“It’s like the universe finally remembered my name.”</strong></p><p>“Two weeks after finishing Chapter 3, <i>The Law of the Current,</i> I received three surprises in a single week: an $8,500 insurance overpayment refund, a new client contract I thought I’d lost months ago, and my chronic migraines vanished. It felt like something deep in me clicked back into rhythm.”<br>— <strong>Gregory W., Denver, CO</strong></p><p>&nbsp;</p><p><strong>“I stopped chasing outcomes, and they started chasing me.”</strong></p><p>“I was skeptical. But reading the exercises on emotional frequency mapping changed something in how I think and feel. I got offered a promotion that had been frozen for months, reconnected with my partner after a long separation, and felt lighter, calmer, clearer. It’s not magic, it’s alignment.”<br>— <strong>Helen B., Toronto, CA</strong></p><p>&nbsp;</p><p><strong>“This book gave me peace before it gave me prosperity.”</strong></p><p>“After years of burnout and anxiety, the ‘Void Protocol’ meditation brought an indescribable calm. Within three weeks, my body pain eased, I started sleeping again, and clients I hadn’t heard from in years began reaching out. It feels ancient, like remembering a truth I’d known forever.”<br>— <strong>Mindy G., London, UK</strong></p><p>&nbsp;</p><p>It’s easy to see why, in <strong>2025</strong>, <i>The Lost Laws of Manifestation</i> is quickly becoming a <strong>must-read for seekers, entrepreneurs, and spiritual explorers</strong> from every corner of the world, a modern bridge between <i>ancient Hermetic science</i> and <i>practical human transformation.</i></p>"},{"type":"html","id":"ggd8Lcc8rb7_label","label":"ggd8Lcc8rb7_label","default":"<p>CHECK AVAILABILITY &gt;&gt;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  