
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-588474099664159321.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-588474099664159321.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-588474099664159321.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-588474099664159321.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-588474099664159321.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-588474099664159321.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-588474099664159321.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-588474099664159321.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-588474099664159321.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-588474099664159321.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-588474099664159321.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-588474099664159321.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-588474099664159321.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-588474099664159321.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-588474099664159321.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-588474099664159321.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-588474099664159321.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-588474099664159321.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-588474099664159321.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-588474099664159321.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-588474099664159321.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-588474099664159321.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-588474099664159321.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-588474099664159321.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-588474099664159321.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-588474099664159321.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-588474099664159321.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-588474099664159321.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-588474099664159321.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-588474099664159321.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-588474099664159321.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-588474099664159321.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-588474099664159321.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-588474099664159321.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-588474099664159321.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-588474099664159321.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-588474099664159321.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-588474099664159321.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-588474099664159321.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-588474099664159321.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-588474099664159321.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-588474099664159321.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-588474099664159321.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-588474099664159321.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-588474099664159321.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-588474099664159321.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-588474099664159321.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-588474099664159321.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-588474099664159321.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-588474099664159321.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-588474099664159321.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-588474099664159321.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-588474099664159321.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-588474099664159321.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-588474099664159321.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-588474099664159321.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-588474099664159321.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-588474099664159321.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-588474099664159321.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-588474099664159321.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-588474099664159321.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-588474099664159321.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-588474099664159321.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-588474099664159321.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-588474099664159321.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-588474099664159321.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-588474099664159321.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-588474099664159321.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-588474099664159321.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-588474099664159321.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-588474099664159321.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-588474099664159321.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-588474099664159321.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-588474099664159321.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-588474099664159321.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-588474099664159321.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-588474099664159321.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-588474099664159321.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-588474099664159321.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-588474099664159321.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-588474099664159321.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-588474099664159321.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-588474099664159321.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-588474099664159321.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-588474099664159321.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-588474099664159321.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-588474099664159321.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-588474099664159321.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-588474099664159321.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-588474099664159321.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-588474099664159321.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-588474099664159321.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-588474099664159321.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-588474099664159321.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-588474099664159321 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-588474099664159321 .gp-relative{position:relative}.gps-588474099664159321 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-588474099664159321 .gp-mb-0{margin-bottom:0}.gps-588474099664159321 .gp-inline-block{display:inline-block}.gps-588474099664159321 .gp-flex{display:flex}.gps-588474099664159321 .gp-inline-flex{display:inline-flex}.gps-588474099664159321 .gp-grid{display:grid}.gps-588474099664159321 .gp-contents{display:contents}.gps-588474099664159321 .\!gp-hidden{display:none!important}.gps-588474099664159321 .gp-hidden{display:none}.gps-588474099664159321 .gp-h-auto{height:auto}.gps-588474099664159321 .gp-h-full{height:100%}.gps-588474099664159321 .gp-w-full{width:100%}.gps-588474099664159321 .gp-max-w-full{max-width:100%}.gps-588474099664159321 .gp-flex-none{flex:none}.gps-588474099664159321 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-588474099664159321 .gp-flex-col{flex-direction:column}.gps-588474099664159321 .gp-items-center{align-items:center}.gps-588474099664159321 .gp-justify-center{justify-content:center}.gps-588474099664159321 .gp-overflow-hidden{overflow:hidden}.gps-588474099664159321 .gp-break-words{overflow-wrap:break-word}.gps-588474099664159321 .gp-text-center{text-align:center}.gps-588474099664159321 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-588474099664159321 .gp-no-underline{text-decoration-line:none}.gps-588474099664159321 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588474099664159321 .gp-duration-200{transition-duration:.2s}.gps-588474099664159321 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588474099664159321 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-588474099664159321 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-588474099664159321 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-588474099664159321 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-588474099664159321 .tablet\:\!gp-hidden{display:none!important}.gps-588474099664159321 .tablet\:gp-hidden{display:none}.gps-588474099664159321 .tablet\:gp-h-auto{height:auto}.gps-588474099664159321 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-588474099664159321 .mobile\:\!gp-hidden{display:none!important}.gps-588474099664159321 .mobile\:gp-hidden{display:none}.gps-588474099664159321 .mobile\:gp-h-auto{height:auto}.gps-588474099664159321 .mobile\:gp-flex-none{flex:none}}.gps-588474099664159321 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-588474099664159321 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#121212","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false},"mobile":{"attachment":"scroll","color":"#000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gFrGxr0p1a"}' data-id="gFrGxr0p1a" id="gFrGxr0p1a" data-same-height-subgrid-container class="gFrGxr0p1a gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:36px;--pl-mobile:20px;--pb-mobile:36px;--pr-mobile:20px;--pt-tablet:64px;--pl-tablet:48px;--pb-tablet:0px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#121212;--bgc-mobile:#000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gC7noGEEvU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsuna05wnu"
        class="gsuna05wnu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ml-mobile:15px;--mb-mobile:0px;--mr-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760289098721"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsuna05wnu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHZLkUNVf4"
        class="gHZLkUNVf4"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:20px;--mr-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760289098722"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:100px;--pr:100px;--pt:16px;--pb:16px;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHZLkUNVf4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="ga6W2R4ghM"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760289098723 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ga6W2R4ghM"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588441760489800507-486e1fde-ddba-4273-9dae-220f0f440659.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588441760489800507-486e1fde-ddba-4273-9dae-220f0f440659.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_588441760489800507-486e1fde-ddba-4273-9dae-220f0f440659.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_588441760489800507-486e1fde-ddba-4273-9dae-220f0f440659.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:50%;--w-tablet:50%;--w-mobile:90%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDPbPm3ZYQ"
        class="gDPbPm3ZYQ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:20px;--mr-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760289098724"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:100px;--pr:100px;--pt:16px;--pb:16px;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDPbPm3ZYQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/the-lost-laws-of-manifestation-audiobook-free-gifts","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="garYpTety4"].gp-button-base::before, [data-id="garYpTety4-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="garYpTety4"]:hover::before, [data-id="garYpTety4-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="garYpTety4" dataId="garYpTety4" data-state="idle" aria-label="<p>CHECK AVAILABILITY &gt;&gt;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/the-lost-laws-of-manifestation-audiobook-free-gifts" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:50px;--pr-mobile:50px;--pt-mobile:9px;--pb-mobile:9px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:#004299;--bg:#07B1F3;--c:var(--g-c-text-3, text-3)"
          class="garYpTety4 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggarYpTety4_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-6GaOl4oq"
        class="g-6GaOl4oq"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760289098728"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:80px;--pb:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:40px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-6GaOl4oq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gbrdEVeplf"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760289098728 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gbrdEVeplf"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588441760489800507-d87ee301-75bc-4a29-9f01-8e5d34b86263.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjExMDQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTczNi0xMTA0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI3MzYiIGhlaWdodD0iMTEwNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjExMDQiIGZpbGw9InVybCgjZy03MzYtMTEwNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTczNiIgdG89IjczNiIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588441760489800507-d87ee301-75bc-4a29-9f01-8e5d34b86263.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjExMDQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTczNi0xMTA0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI3MzYiIGhlaWdodD0iMTEwNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjExMDQiIGZpbGw9InVybCgjZy03MzYtMTEwNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTczNiIgdG89IjczNiIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
    
      
      <img
        base-src="{{ "gempages_588441760489800507-d87ee301-75bc-4a29-9f01-8e5d34b86263.jpg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjExMDQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTczNi0xMTA0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI3MzYiIGhlaWdodD0iMTEwNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjExMDQiIGZpbGw9InVybCgjZy03MzYtMTEwNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTczNiIgdG89IjczNiIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" data-src="{{ "gempages_588441760489800507-d87ee301-75bc-4a29-9f01-8e5d34b86263.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:50%;--w-tablet:50%;--w-mobile:50%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtil_Mh-mF"
        class="gtil_Mh-mF"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:20px;--mr-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760289098729"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:100px;--pr:100px;--pt:16px;--pb:16px;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtil_Mh-mF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/the-lost-laws-of-manifestation-audiobook-free-gifts","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gBYosR5rx_"].gp-button-base::before, [data-id="gBYosR5rx_-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gBYosR5rx_"]:hover::before, [data-id="gBYosR5rx_-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gBYosR5rx_" dataId="gBYosR5rx_" data-state="idle" aria-label="<p>CHECK AVAILABILITY &gt;&gt;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/the-lost-laws-of-manifestation-audiobook-free-gifts" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:50px;--pr-mobile:50px;--pt-mobile:9px;--pb-mobile:9px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:#004299;--bg:#07B1F3;--c:var(--g-c-text-3, text-3)"
          class="gBYosR5rx_ gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggBYosR5rx__label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcZQUmmlQK"
        class="gcZQUmmlQK"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760289098733"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:80px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:50px;--pb-tablet:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:40px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcZQUmmlQK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gi5tU3kSQM"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760289098734 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gi5tU3kSQM"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588441760489800507-90752acf-86a2-4d61-bc01-50740787a613.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEwNCIgaGVpZ2h0PSI3MzYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExMDQtNzM2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTA0IiBoZWlnaHQ9IjczNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTEwNCIgaGVpZ2h0PSI3MzYiIGZpbGw9InVybCgjZy0xMTA0LTczNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExMDQiIHRvPSIxMTA0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588441760489800507-90752acf-86a2-4d61-bc01-50740787a613.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEwNCIgaGVpZ2h0PSI3MzYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExMDQtNzM2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTA0IiBoZWlnaHQ9IjczNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTEwNCIgaGVpZ2h0PSI3MzYiIGZpbGw9InVybCgjZy0xMTA0LTczNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExMDQiIHRvPSIxMTA0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_588441760489800507-90752acf-86a2-4d61-bc01-50740787a613.jpg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEwNCIgaGVpZ2h0PSI3MzYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExMDQtNzM2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTA0IiBoZWlnaHQ9IjczNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTEwNCIgaGVpZ2h0PSI3MzYiIGZpbGw9InVybCgjZy0xMTA0LTczNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExMDQiIHRvPSIxMTA0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_588441760489800507-90752acf-86a2-4d61-bc01-50740787a613.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:75%;--w-tablet:70%;--w-mobile:90%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIw9X4T9om"
        class="gIw9X4T9om"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:20px;--mr-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760289098735"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:100px;--pr:100px;--pt:16px;--pb:16px;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIw9X4T9om_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-588474099664159321 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/y1behc-h0/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=588474099597050457&sectionId=588474099664159321)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggsuna05wnu_text","label":"ggsuna05wnu_text","default":"<p><span style=\"font-size:24px;\"><strong>How a Struggling Farmer From the Nile Delta Became Egypt’s Wealthiest Merchant</strong></span></p>"},{"type":"html","id":"ggHZLkUNVf4_text","label":"ggHZLkUNVf4_text","default":"<p>Until <strong>2024</strong>, only a handful of researchers and locals near <strong>Dendera, Egypt</strong> had heard whispers of <i>The Lost Laws of Manifestation,</i> a book that claimed to translate the forbidden inscriptions of the <strong>Codex of Light and Shadow</strong>.</p><p>&nbsp;</p><p>Most dismissed it as myth.</p><p><br>But for one man, it became the turning point of his entire life.</p><p>&nbsp;</p><p>His name was <strong>Yusuf,</strong> a struggling farmer living on the edge of the Nile Delta.</p><p>&nbsp;</p><p>Years of drought and debt had pushed his small plot of land to the brink of ruin. His wife had fallen ill, and every attempt to save her drained what little he had left. When she passed away, Yusuf was left with nothing but grief… and a young son to feed.</p><p>&nbsp;</p><p>To make matters worse, the landowners demanded repayment of loans he couldn’t cover. If he failed, they would seize his home within the month.</p><p>&nbsp;</p><p>Every night, Yusuf prayed for a sign, something to show him that life wasn’t finished with him yet.</p><p>&nbsp;</p><p>Then one afternoon, while repairing the cracked wall of his farmhouse, a loose brick fell. Behind it, he found a small clay tablet etched with unfamiliar geometric symbols, a replica copy of an ancient design known locally as <strong>“The Seal of Hathor.”</strong></p><p>&nbsp;</p><p>Curious, Yusuf took it to a nearby university in Cairo, where a visiting lecturer told him the symbol matched diagrams mentioned in a recently published book by a researcher named <strong>Amara Callen</strong>.</p><p>&nbsp;</p><p>The book was called <i>The Lost Laws of Manifestation.</i></p><p>&nbsp;</p><p>That night, under the dim light of a lantern, Yusuf began reading.</p><p>&nbsp;</p><p>The words spoke to him in a way nothing else ever had, describing how human thought and emotion emit measurable frequencies… how trauma distorts those frequencies… and how specific emotional sequences can <i>retune</i> them back into coherence.</p><p>&nbsp;</p><p>He followed the first exercise, something Amara called “The Void Breath.”</p><p>&nbsp;</p><p>He closed his eyes, felt his heartbeat slow, and released the heaviness he’d carried since his wife’s death. For the first time in years, his body felt alive again, almost vibrating.</p><p>&nbsp;</p><p>Over the next three weeks, strange things began happening.</p><p>&nbsp;</p><p>A local buyer, who’d ignored Yusuf for years, offered to purchase his entire crop of barley, at double the usual price.</p><p><br>Two days later, a neighbor who had once avoided him showed up with spare livestock feed, saying she’d had “a feeling” he might need it.</p><p><br>Even his son’s lingering illness began to ease.</p><p>&nbsp;</p><p>By the end of that season, Yusuf had enough surplus to hire help, plant new seeds, and rebuild his home.</p><p>&nbsp;</p><p>Within two years, he’d expanded from a small subsistence plot to the <strong>largest organic farm in the Delta</strong>, supplying hotels from Cairo to Alexandria.</p><p>&nbsp;</p><p>People began calling him “The Man of the Golden Field.”</p><p>&nbsp;</p><p>When journalists asked about his sudden success, Yusuf didn’t talk about luck or strategy. He simply said:</p><p>“I remembered how to listen to the laws that built the world.”</p><p>&nbsp;</p><p>He still keeps that cracked clay tablet above his desk, not as an idol, but as a reminder.</p><p>&nbsp;</p><p>Because Yusuf’s story isn’t about superstition.<br>It’s about rediscovering the frequency the ancients called <strong>The Sovereign Signal,</strong> the current that <i>creates prosperity when aligned with it</i>.</p><p>&nbsp;</p><p>And the same process that restored Yusuf’s life is now being used by thousands around the world who have read <i>The Lost Laws of Manifestation.</i></p>"},{"type":"html","id":"ggDPbPm3ZYQ_text","label":"ggDPbPm3ZYQ_text","default":"<p>The words spoke to him in a way nothing else ever had, describing how human thought and emotion emit measurable frequencies… how trauma distorts those frequencies… and how specific emotional sequences can <i>retune</i> them back into coherence.</p><p>&nbsp;</p><p>He followed the first exercise, something Amara called “The Void Breath.”</p><p>&nbsp;</p><p>He closed his eyes, felt his heartbeat slow, and released the heaviness he’d carried since his wife’s death. For the first time in years, his body felt alive again, almost vibrating.</p><p>&nbsp;</p><p>Over the next three weeks, strange things began happening.</p><p>&nbsp;</p><p>A local buyer, who’d ignored <strong>Yusuf </strong>for years, offered to purchase his entire crop of barley, at double the usual price.</p><p><br>Two days later, a neighbor who had once avoided him showed up with spare livestock feed, saying she’d had “a feeling” he might need it.</p><p><br>Even his son’s lingering illness began to ease.</p><p>By the end of that season, Yusuf had enough surplus to hire help, plant new seeds, and rebuild his home.</p><p>&nbsp;</p><p>Within two years, he’d expanded from a small subsistence plot to the <strong>largest organic farm in the Delta</strong>, supplying hotels from Cairo to Alexandria.</p><p>&nbsp;</p><p>People began calling him “<strong>The Man of the Golden Field.”</strong></p><p>When journalists asked about his sudden success, Yusuf didn’t talk about luck or strategy. He simply said:</p><p>&nbsp;</p><p>“I remembered how to listen to the laws that built the world.”</p><p>&nbsp;</p><p>He still keeps that cracked clay tablet above his desk &nbsp;not as an idol, but as a reminder.</p><p>&nbsp;</p><p>Because Yusuf’s story isn’t about superstition.<br>It’s about rediscovering the frequency the ancients called <strong>The Sovereign Signal,</strong> the current that <i>creates prosperity when aligned with it</i>.</p><p>&nbsp;</p><p>And the same process that restored Yusuf’s life is now being used by thousands around the world who have read <a href=\"https://solesterius.com/products/the-lost-laws-of-manifestation-audiobook-free-gifts\"><i><strong><u>The Lost Laws of Manifestation.</u></strong></i></a></p>"},{"type":"html","id":"ggarYpTety4_label","label":"ggarYpTety4_label","default":"<p>CHECK AVAILABILITY &gt;&gt;</p>"},{"type":"html","id":"gg-6GaOl4oq_text","label":"gg-6GaOl4oq_text","default":"<p><span style=\"font-size:24px;\"><strong>Egyptian Records Hint That “The Lost Laws” Really Work</strong></span></p>"},{"type":"html","id":"ggtil_Mh-mF_text","label":"ggtil_Mh-mF_text","default":"<p>If you travel through the ancient sites along the Nile, Luxor, Abydos, Dendera, you’ll hear stories passed down by temple guardians and families who still live near the ruins.</p><p><br>Stories of sudden, almost supernatural reversals of fortune… all linked to <i>a rediscovered manuscript once hidden beneath the Temple of Hathor.</i></p><p>&nbsp;</p><p>Among the most frequently recorded accounts:</p><p>📜 <strong>A 68-year-old widow from Cairo</strong>, drowning in medical debt, came across a faded photocopy of a chapter titled <i>“Law of the Current”</i> in 1986.</p><p><br>Within weeks, three remarkable things happened: a lost pension payment resurfaced, a property dispute she’d been fighting for years was ruled in her favor, and an unknown cousin abroad transferred her an inheritance she never knew existed.</p><p>&nbsp;</p><p>🌾 <strong>A struggling date farmer from Aswan</strong>, whose crops were withering under record heat, found an old book in a roadside stall.</p><p><br>Inside was <a href=\"https://solesterius.com/products/the-lost-laws-of-manifestation-audiobook-free-gifts\"><i><strong><u>The Lost Laws of Manifestation.</u></strong></i></a></p><p><br>Following one of its “frequency alignment” passages, he began meditating at dawn beside the river.</p><p><br>That same season, his yield tripled, and a merchant from Alexandria offered him double the usual price, erasing every debt he owed.</p><p>&nbsp;</p><p>🪶 <strong>An elderly artisan in Luxor</strong>, whose hands had grown too stiff to carve stone, borrowed the book from a local library out of curiosity.</p><p><br>After practicing the “Void Breath” technique for twenty-one days, he noticed the pain fade.</p><p><br>A visiting museum curator saw his restored carvings and commissioned enough pieces to secure him a lifetime income.</p><p>&nbsp;</p><p>Are these mere coincidences… or evidence of something deeper?</p><p>Skeptics claim these accounts are simply folklore, that people always invent meaning around luck.</p><p><br>But others, including scientists, entrepreneurs, and even former skeptics, have noticed a curious pattern.</p><p>&nbsp;</p><p>Each story follows the same structure:<br>👉 despair,<br>👉 discovery of <i>The Lost Laws</i>,<br>👉 and a measurable reversal of fortune soon after.</p><p>&nbsp;</p><p>“This isn’t superstition,” one London investor told a colleague after reading the reports.</p><p>&nbsp;</p><p>“These are case studies in frequency re-alignment. Something real is happening here.”</p><p>&nbsp;</p><p>That growing conviction is why, in early <strong>2023</strong>, a group of researchers, executives, and scholars traveled to Egypt, not for archaeology, but to trace the <strong>original Codex of Light and Shadow</strong> that inspired <i>The Lost Laws of Manifestation.</i></p><p>They weren’t chasing myth.</p><p><br>They were searching for <i>the mechanism behind it</i>.</p><p>And what they found beneath the sands would soon rewrite everything we thought we knew about energy, luck, and human potential.</p>"},{"type":"html","id":"ggBYosR5rx__label","label":"ggBYosR5rx__label","default":"<p>CHECK AVAILABILITY &gt;&gt;</p>"},{"type":"html","id":"ggcZQUmmlQK_text","label":"ggcZQUmmlQK_text","default":"<p><span style=\"font-size:24px;\"><strong>The Ancient Egyptian Principle That Explains Why “The Lost Laws” Can Restore Prosperity and Vitality</strong></span></p>"},{"type":"html","id":"ggIw9X4T9om_text","label":"ggIw9X4T9om_text","default":"<p>When the group of researchers asked <strong>Amara Callen</strong> how a simple sequence of meditations and frequency alignments could alter a person’s fortune, she didn’t answer directly.</p><p>&nbsp;</p><p>Instead, she spoke of an ancient principle carved into the walls of <strong>Dendera’s Temple of Hathor,</strong> a concept the priests called <strong>“Sekhem Ra.”</strong></p><p>&nbsp;</p><p><i>“Sekhem,”</i> she explained, <i>“isn’t just energy. It’s the measurable current of life-force that connects the Ka,the body’s vitality, to the Ba, the soul’s higher frequency.”</i></p><p>&nbsp;</p><p>To the Egyptians, wealth wasn’t paper or gold.<br>It was <strong>flow,</strong> the harmony between the seen and the unseen.</p><p><br>When Sekhem flowed freely through a person’s Ka and Ba, everything around them moved into resonance: crops flourished, trades succeeded, relationships aligned, and even illness faded.</p><p><br>When the current stagnated, misfortune followed.</p><p>The priests called these states <i>Ma’at</i> and <i>Isfet,</i> order and chaos.</p><p><br>Good fortune simply meant that your internal field matched the frequency of Ma’at.</p><p>&nbsp;</p><p>Amara revealed that what modern people label <i>“luck”</i> is the same phenomenon the ancients documented 3,000 years ago:</p><p>the universe responding to your <strong>energetic coherence.</strong></p><p>“When your Ka is grounded in calm certainty,” she said, “reality arranges itself around you.</p><p><br>When anxiety, fear, or grief distort that field, the outer world mirrors that disorder.”</p><p>&nbsp;</p><p>Inside <i>The Lost Laws of Manifestation,</i> Amara mapped how emotion, breath, and focus alter the electromagnetic patterns surrounding the human heart and brain, the same bio-resonance that ancient initiates enhanced through sound and geometry inside Hathor’s resonance chambers.</p><p>&nbsp;</p><p>She demonstrated that by re-tuning this internal current, through what she calls <strong>The Void Protocol,</strong> the Ka and Ba reconnect.</p><p><br>That reconnection restores Sekhem, the life-force responsible for magnetism, intuition, and prosperity.</p><p>&nbsp;</p><p>And when it happens, the results follow a precise pattern Amara has observed for years:</p><p>1️⃣ <strong>First Phase: Energy Return:</strong> within 7 days, subtle coincidences begin, a refund, an apology, an offer that seemed lost.</p><p><br>2️⃣ <strong>Second Phase: Ancestral Flow:</strong> by the second month, opportunities reappear from long-dormant sources, investments, clients, forgotten debts repaid.</p><p><br>3️⃣ <strong>Third Phase: Vital Rejuvenation:</strong> by day 90, the body mirrors the field, pain eases, sleep deepens, creativity surges.</p><p>&nbsp;</p><p>Skeptics call it placebo.</p><p><br>Physicists call it <strong>bio-field coherence.</strong></p><p><br>The Egyptians simply called it <i>Ma’at, the return of divine order within.</i></p><p>&nbsp;</p><p>As Amara concluded to the stunned group inside the temple:</p><p>“When the human field vibrates in harmony with Ma’at,<br>the universe answers with abundance.</p><p><br>That is the true secret of the Lost Laws.”</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  