
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-588442135225697219.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-588442135225697219.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-588442135225697219.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-588442135225697219.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-588442135225697219.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-588442135225697219.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-588442135225697219.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-588442135225697219.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-588442135225697219.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-588442135225697219.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-588442135225697219.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-588442135225697219.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-588442135225697219.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-588442135225697219.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-588442135225697219.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-588442135225697219.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-588442135225697219.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-588442135225697219.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-588442135225697219.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-588442135225697219.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-588442135225697219.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-588442135225697219.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-588442135225697219.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-588442135225697219.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-588442135225697219.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-588442135225697219.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-588442135225697219.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-588442135225697219.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-588442135225697219.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-588442135225697219.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-588442135225697219.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-588442135225697219.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-588442135225697219.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-588442135225697219.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-588442135225697219.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-588442135225697219.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-588442135225697219.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-588442135225697219.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-588442135225697219.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-588442135225697219.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-588442135225697219.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-588442135225697219.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-588442135225697219.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-588442135225697219.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-588442135225697219.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-588442135225697219.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-588442135225697219.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-588442135225697219.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-588442135225697219.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-588442135225697219.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-588442135225697219.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-588442135225697219.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-588442135225697219.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-588442135225697219.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-588442135225697219.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-588442135225697219.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-588442135225697219.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-588442135225697219.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-588442135225697219.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-588442135225697219.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-588442135225697219.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-588442135225697219.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-588442135225697219.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-588442135225697219.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-588442135225697219.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-588442135225697219.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-588442135225697219.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-588442135225697219.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-588442135225697219.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-588442135225697219.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-588442135225697219.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-588442135225697219.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-588442135225697219.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-588442135225697219.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-588442135225697219.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-588442135225697219.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-588442135225697219.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-588442135225697219.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-588442135225697219.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-588442135225697219.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-588442135225697219.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-588442135225697219.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-588442135225697219.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-588442135225697219.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-588442135225697219.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-588442135225697219.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-588442135225697219 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-588442135225697219 .gp-relative{position:relative}.gps-588442135225697219 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-588442135225697219 .gp-mb-0{margin-bottom:0}.gps-588442135225697219 .gp-inline-block{display:inline-block}.gps-588442135225697219 .gp-flex{display:flex}.gps-588442135225697219 .gp-inline-flex{display:inline-flex}.gps-588442135225697219 .gp-grid{display:grid}.gps-588442135225697219 .gp-contents{display:contents}.gps-588442135225697219 .\!gp-hidden{display:none!important}.gps-588442135225697219 .gp-hidden{display:none}.gps-588442135225697219 .gp-h-auto{height:auto}.gps-588442135225697219 .gp-h-full{height:100%}.gps-588442135225697219 .gp-w-full{width:100%}.gps-588442135225697219 .gp-max-w-full{max-width:100%}.gps-588442135225697219 .gp-flex-none{flex:none}.gps-588442135225697219 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-588442135225697219 .gp-flex-col{flex-direction:column}.gps-588442135225697219 .gp-items-center{align-items:center}.gps-588442135225697219 .gp-justify-center{justify-content:center}.gps-588442135225697219 .gp-overflow-hidden{overflow:hidden}.gps-588442135225697219 .gp-break-words{overflow-wrap:break-word}.gps-588442135225697219 .gp-text-center{text-align:center}.gps-588442135225697219 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-588442135225697219 .gp-no-underline{text-decoration-line:none}.gps-588442135225697219 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588442135225697219 .gp-duration-200{transition-duration:.2s}.gps-588442135225697219 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588442135225697219 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-588442135225697219 .after\:gp-absolute:after{content:var(--tw-content);position:absolute}.gps-588442135225697219 .after\:gp-left-\[2px\]:after{content:var(--tw-content);left:2px}.gps-588442135225697219 .after\:gp-top-0:after{content:var(--tw-content);top:0}.gps-588442135225697219 .after\:gp-w-full:after{content:var(--tw-content);width:100%}.gps-588442135225697219 .after\:gp-select-none:after{content:var(--tw-content);-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-588442135225697219 .after\:gp-truncate:after{content:var(--tw-content);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-588442135225697219 .after\:gp-text-black:after{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity));content:var(--tw-content)}.gps-588442135225697219 .after\:gp-opacity-20:after{content:var(--tw-content);opacity:.2}.gps-588442135225697219 .after\:gp-content-\[\'Your_custom_text_goes_here\'\]:after{--tw-content:"Your custom text goes here";content:var(--tw-content)}.gps-588442135225697219 .empty\:gp-pl-\[2px\]:empty{padding-left:2px}.gps-588442135225697219 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-588442135225697219 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-588442135225697219 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-588442135225697219 .tablet\:\!gp-hidden{display:none!important}.gps-588442135225697219 .tablet\:gp-hidden{display:none}.gps-588442135225697219 .tablet\:gp-h-auto{height:auto}.gps-588442135225697219 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-588442135225697219 .mobile\:\!gp-hidden{display:none!important}.gps-588442135225697219 .mobile\:gp-hidden{display:none}.gps-588442135225697219 .mobile\:gp-h-auto{height:auto}.gps-588442135225697219 .mobile\:gp-flex-none{flex:none}}.gps-588442135225697219 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-588442135225697219 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gu2FmK_ALc"}' data-id="gu2FmK_ALc" id="gu2FmK_ALc" data-same-height-subgrid-container class="gu2FmK_ALc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:320px;--pb:36px;--pr:320px;--mb-mobile:24px;--pt-mobile:24px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--pt-tablet:64px;--pl-tablet:48px;--pb-tablet:36px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMx4jyF8UJ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g5NZ4L8Oei"}' data-id="g5NZ4L8Oei" id="g5NZ4L8Oei" data-same-height-subgrid-container class="g5NZ4L8Oei gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 4px;--bc:#8591E4;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:800px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gKP71T-1tP gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gk7fsEhiHm"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760287131812 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gk7fsEhiHm"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0idXJsKCNnLTczNi01NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0idXJsKCNnLTczNi01NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0idXJsKCNnLTczNi01NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZLj2SvUDL"
        class="gZLj2SvUDL"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760287131813"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:20px;--pb-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZLj2SvUDL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXsXYldfVV"
        class="gXsXYldfVV"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:32px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760287131814"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXsXYldfVV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCD2JdlqCZ"
        class="gCD2JdlqCZ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760287131815"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCD2JdlqCZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gx0JGk9WTz"
      style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:21px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1760287131816 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gx0JGk9WTz"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588441760489800507-fb501beb-8fb1-4885-a305-5bb154e9b828.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzIwLTkwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0idXJsKCNnLTcyMC05MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MjAiIHRvPSI3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588441760489800507-fb501beb-8fb1-4885-a305-5bb154e9b828.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzIwLTkwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0idXJsKCNnLTcyMC05MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MjAiIHRvPSI3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_588441760489800507-fb501beb-8fb1-4885-a305-5bb154e9b828.jpg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzIwLTkwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0idXJsKCNnLTcyMC05MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MjAiIHRvPSI3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_588441760489800507-fb501beb-8fb1-4885-a305-5bb154e9b828.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:80%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gA20hGgZp7"
        class="gA20hGgZp7"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760287131817"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-relative empty:gp-pl-[2px] after:gp-content-['Your_custom_text_goes_here'] after:gp-absolute after:gp-select-none after:gp-top-0 after:gp-left-[2px] after:gp-w-full after:gp-truncate after:gp-text-black after:gp-opacity-20 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOuOecNqXI"
        class="gOuOecNqXI"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760287131818"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOuOecNqXI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"/products/the-lost-laws-of-manifestation-audiobook-free-gifts","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center;--ta-mobile:center" >
        <style>[data-id="gW5ReZhLFf"].gp-button-base::before, [data-id="gW5ReZhLFf-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gW5ReZhLFf"]:hover::before, [data-id="gW5ReZhLFf-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gW5ReZhLFf" dataId="gW5ReZhLFf" data-state="idle" aria-label="<p>CHECK AVAILABILITY&gt;&gt;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/the-lost-laws-of-manifestation-audiobook-free-gifts" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:80px;--pr-mobile:80px;--pt-mobile:9px;--pb-mobile:9px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--bg:#07B1F3;--hvr-bg:#004299;--c:var(--g-c-text-3, text-3)"
          class="gW5ReZhLFf gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggW5ReZhLFf_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-588442135225697219 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/y1behc-h0/apps/gempages-cro/app/shopify/edit?pageType=GP_FUNNEL_PAGE&editorId=588441958863602491&sectionId=588442135225697219)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZLj2SvUDL_text","label":"ggZLj2SvUDL_text","default":"<p>Every day after your 35th birthday, something <i>subtle yet devastating</i> begins to fade inside you.</p><p><br>Not money from your account.<br>Not your health, not even your ambition.</p><p>Something deeper, <strong>the </strong><i><strong>energetic signature</strong></i><strong> that quietly pulled luck, focus, and opportunity toward you for decades.</strong></p><p>&nbsp;</p><p>You’ve probably felt it without understanding why.</p><p>&nbsp;</p><p>The timing of life feels… off.</p><p><br>People who once lit up when you spoke now seem distracted.</p><p><br>Doors that used to open effortlessly stay shut.</p><p><br>Even your best ideas seem to drift away before the world notices.</p><p>&nbsp;</p><p>And while you’re working harder than ever, younger, less experienced people are somehow <i>catching all <strong>the lucky breaks.</strong></i></p><p>&nbsp;</p><p>It’s not coincidence.</p><p><br>It’s not karma.</p><p><br>It’s <strong>physics,</strong> or rather, the silent breakdown of your body’s <i><strong>magnetic field of coherence.</strong></i></p><p>&nbsp;</p><p>Researchers now confirm what Eastern adepts knew for millennia: your energetic field, the same one responsible for focus, attraction, and intuitive timing, begins to destabilize with age.</p><p>&nbsp;</p><p>Once the frequency that fuels your attention and magnetism starts to distort, it’s as if life itself stops responding to you.</p><p><br>Opportunities <strong>don’t “see” you</strong> anymore.<br>People don’t <i>feel</i> your signal the way they used to.</p><p>&nbsp;</p><p>The result?</p><p>&nbsp;</p><p>Millions of men and women past midlife feel like they’re pushing uphill, working twice as hard for half the rewards, while the world seems to flow effortlessly for others.</p><p>&nbsp;</p><p>Western medicine calls it <strong>“aging.”</strong></p><p><br>Ancient Hermetic science called it <i>the <strong>Dissolution of the Signal.</strong></i></p><p>&nbsp;</p><p>Different names.</p><p><br>Same truth.</p><p>&nbsp;</p><p>You are slowly losing the current that makes manifestation, prosperity, and purpose <i>work.</i></p>"},{"type":"html","id":"ggXsXYldfVV_text","label":"ggXsXYldfVV_text","default":"<p><strong>But in 2025, something extraordinary is happening, quietly, almost secretly.</strong></p><p>&nbsp;</p><p>Across the world, men and women who once felt their “signal” fading are starting to reverse it.</p><p>&nbsp;</p><p>They’re reporting things science can’t explain:<br>✨ Promotions after years of being overlooked.<br>✨ Unexpected financial windfalls.<br>✨ Relationships, &nbsp;and even health, suddenly reigniting.</p><p>&nbsp;</p><p>Their secret?</p><p><br>It’s not a pill.</p><p><br>It’s not positive thinking.</p><p><br>And it’s definitely not financial advice.</p><p>&nbsp;</p><p><strong>It’s a rediscovery, a 3,000-year-old understanding of how energy flows through the human body, and how to </strong><i><strong>restore the magnetic current that naturally weakens with age.</strong></i></p><p>&nbsp;</p><p>The wildest part?</p><p><br><strong><u>The solution costs less than your monthly coffee budget.</u></strong></p><p>&nbsp;</p><p>But the true value isn’t in the cost.</p><p><br>It’s in what this discovery <i>rebuilds,</i> the same invisible frequency the ancients called <i>The Sovereign Signal.</i></p><p>&nbsp;</p><p>&nbsp;</p><p><strong>Keep reading if you would like to:</strong></p><p><br>&nbsp;</p><p>✅ <strong>Uncover</strong> why so many over 40 are quietly “energetically bankrupt”, and how a decoded Egyptian sequence is helping them attract prosperity again.</p><p>&nbsp;</p><p>✅ <strong>Learn</strong> why CEOs, athletes, and even Wall Street elites are flying to Egypt, not for business, but for a single session with a hidden “frequency architect.”</p><p>&nbsp;</p><p>✅ <strong>Witness</strong> how one father, after years of decline, used this reactivation ritual to turn debt into generational abundance.</p><p>&nbsp;</p><p>✅ <strong>Discover</strong> how a forgotten element, the same metal used in ancient initiation chambers, may help restore your prosperity field faster than any mindset or method.</p>"},{"type":"html","id":"ggCD2JdlqCZ_text","label":"ggCD2JdlqCZ_text","default":"<p><span style=\"font-size:24px;\"><strong>The Secret That 17 Hedge Fund Titans Flew Across the World to Find</strong></span></p><p><br>&nbsp;</p>"},{"type":"html","id":"ggOuOecNqXI_text","label":"ggOuOecNqXI_text","default":"<p>On <strong>January 25th 2023</strong>, seventeen private jets descended on a private airstrip outside <strong>Luxor, Egypt, </strong>a strip of sand and stone surrounded by the shadow of ancient temples.</p><p>&nbsp;</p><p>Inside those jets were some of the wealthiest individuals alive:tech billionaires, real-estate magnates, hedge-fund titans who could sway markets with a single word.</p><p>&nbsp;</p><p>And yet, they hadn’t come for a deal, a merger, or a summit.<br>They’d come for <strong>a secret buried in the sands</strong>.</p><p>&nbsp;</p><p>Not a modern investment secret…but one whispered about in forbidden Hermetic manuscripts. A secret said to restore the <i>energetic fortune field</i> that once made empires rise.</p><p>&nbsp;</p><p>For months, their fortunes had been crumbling in strange, unexplainable ways:<br>failed trades, sudden downturns, deals dissolving for no logical reason.<br>It was as if the invisible current that had guided their intuition had simply vanished.</p><p>&nbsp;</p><p>Their destination was a newly unearthed chamber beneath the <strong>Temple of Hathor</strong>, where archeologists had uncovered an artifact known as <strong>The Codex of Light and Shadow, </strong>a stone vault etched with harmonic equations, believed to predate the Pyramids themselves.</p><p>&nbsp;</p><p>Among the few researchers granted access was <strong>Amara Callen</strong>, a neuroscientist obsessed with bridging ancient Hermetic law and modern quantum biology.</p><p>&nbsp;</p><p>While the world’s elite came hoping to buy luck,<br>Amara saw something different: <i><strong>proof</strong>.</i></p><p>&nbsp;</p><p>Her team discovered that the inscriptions inside the Codex weren’t symbolic at all, they were <strong>frequency formulas</strong> designed to stabilize the human energy field.<br>Every line, every curve, every pattern corresponded to measurable electromagnetic ratios, a system for <i>restoring coherence</i> to the frequency that fuels focus, attraction, and vitality.</p><p>&nbsp;</p><p>In other words, what the ancients encoded wasn’t myth or religion, it was a <strong>scientific process for rebuilding the human signal</strong>.</p><p>&nbsp;</p><p>Amara spent twelve years decoding those formulas, testing them against real-world data, and found that they worked.</p><p><br>That research became the foundation of her manuscript,<i><strong>The Lost Laws of Manifestation,</strong></i> the first modern translation of the Codex.</p><p>&nbsp;</p><p>And while the billionaires flew home clutching fragments of sandstone as souvenirs, Amara realized the relic itself wasn’t the power.<br>The real secret was <strong>the law behind it, </strong>a living frequency principle that could be activated in any human being willing to relearn it.</p><p>&nbsp;</p><p>That discovery would quietly ignite a new chapter in human potential, and it’s the same discovery you’re about to explore in these pages.</p><p>&nbsp;</p><p>&nbsp;</p>"},{"type":"html","id":"ggW5ReZhLFf_label","label":"ggW5ReZhLFf_label","default":"<p>CHECK AVAILABILITY&gt;&gt;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  