
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-591052554121642954.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-591052554121642954.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-591052554121642954.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-591052554121642954.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-591052554121642954.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-591052554121642954.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-591052554121642954.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-591052554121642954.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-591052554121642954.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-591052554121642954.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-591052554121642954.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-591052554121642954.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-591052554121642954.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-591052554121642954.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-591052554121642954.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-591052554121642954.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-591052554121642954.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-591052554121642954.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-591052554121642954.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-591052554121642954.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-591052554121642954.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-591052554121642954.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-591052554121642954.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-591052554121642954.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-591052554121642954.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-591052554121642954.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-591052554121642954.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-591052554121642954.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-591052554121642954.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-591052554121642954.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-591052554121642954.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-591052554121642954.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-591052554121642954.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-591052554121642954.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-591052554121642954.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-591052554121642954.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-591052554121642954.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-591052554121642954.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-591052554121642954.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-591052554121642954.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-591052554121642954.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-591052554121642954.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-591052554121642954.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-591052554121642954.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-591052554121642954.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-591052554121642954.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-591052554121642954.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-591052554121642954.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-591052554121642954.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-591052554121642954.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-591052554121642954.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-591052554121642954.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-591052554121642954.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-591052554121642954.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-591052554121642954.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-591052554121642954.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-591052554121642954.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-591052554121642954.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-591052554121642954.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-591052554121642954.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-591052554121642954.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-591052554121642954.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-591052554121642954.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-591052554121642954.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-591052554121642954.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-591052554121642954.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-591052554121642954.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-591052554121642954.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-591052554121642954.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-591052554121642954.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-591052554121642954.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-591052554121642954.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-591052554121642954.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-591052554121642954.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-591052554121642954.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-591052554121642954.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-591052554121642954.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-591052554121642954.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-591052554121642954.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-591052554121642954.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-591052554121642954.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-591052554121642954.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-591052554121642954.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-591052554121642954.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-591052554121642954.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-591052554121642954.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-591052554121642954.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-591052554121642954.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-591052554121642954.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-591052554121642954.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-591052554121642954.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-591052554121642954.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-591052554121642954 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-591052554121642954 .gp-relative{position:relative}.gps-591052554121642954 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-591052554121642954 .gp-mb-0{margin-bottom:0}.gps-591052554121642954 .gp-inline-block{display:inline-block}.gps-591052554121642954 .gp-flex{display:flex}.gps-591052554121642954 .gp-inline-flex{display:inline-flex}.gps-591052554121642954 .gp-grid{display:grid}.gps-591052554121642954 .gp-contents{display:contents}.gps-591052554121642954 .\!gp-hidden{display:none!important}.gps-591052554121642954 .gp-hidden{display:none}.gps-591052554121642954 .gp-h-auto{height:auto}.gps-591052554121642954 .gp-h-full{height:100%}.gps-591052554121642954 .gp-w-full{width:100%}.gps-591052554121642954 .gp-max-w-full{max-width:100%}.gps-591052554121642954 .gp-flex-none{flex:none}.gps-591052554121642954 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-591052554121642954 .gp-flex-col{flex-direction:column}.gps-591052554121642954 .gp-items-center{align-items:center}.gps-591052554121642954 .gp-justify-center{justify-content:center}.gps-591052554121642954 .gp-overflow-hidden{overflow:hidden}.gps-591052554121642954 .gp-break-words{overflow-wrap:break-word}.gps-591052554121642954 .gp-text-center{text-align:center}.gps-591052554121642954 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-591052554121642954 .gp-no-underline{text-decoration-line:none}.gps-591052554121642954 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591052554121642954 .gp-duration-200{transition-duration:.2s}.gps-591052554121642954 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591052554121642954 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-591052554121642954 .after\:gp-absolute:after{content:var(--tw-content);position:absolute}.gps-591052554121642954 .after\:gp-left-\[2px\]:after{content:var(--tw-content);left:2px}.gps-591052554121642954 .after\:gp-top-0:after{content:var(--tw-content);top:0}.gps-591052554121642954 .after\:gp-w-full:after{content:var(--tw-content);width:100%}.gps-591052554121642954 .after\:gp-select-none:after{content:var(--tw-content);-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-591052554121642954 .after\:gp-truncate:after{content:var(--tw-content);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-591052554121642954 .after\:gp-text-black:after{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity));content:var(--tw-content)}.gps-591052554121642954 .after\:gp-opacity-20:after{content:var(--tw-content);opacity:.2}.gps-591052554121642954 .after\:gp-content-\[\'Your_custom_text_goes_here\'\]:after{--tw-content:"Your custom text goes here";content:var(--tw-content)}.gps-591052554121642954 .empty\:gp-pl-\[2px\]:empty{padding-left:2px}.gps-591052554121642954 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-591052554121642954 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-591052554121642954 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-591052554121642954 .tablet\:\!gp-hidden{display:none!important}.gps-591052554121642954 .tablet\:gp-hidden{display:none}.gps-591052554121642954 .tablet\:gp-h-auto{height:auto}.gps-591052554121642954 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-591052554121642954 .mobile\:\!gp-hidden{display:none!important}.gps-591052554121642954 .mobile\:gp-hidden{display:none}.gps-591052554121642954 .mobile\:gp-h-auto{height:auto}.gps-591052554121642954 .mobile\:gp-flex-none{flex:none}}.gps-591052554121642954 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-591052554121642954 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#121212","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gu2FmK_ALc"}' data-id="gu2FmK_ALc" id="gu2FmK_ALc" data-same-height-subgrid-container class="gu2FmK_ALc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:36px;--pl-mobile:20px;--pb-mobile:36px;--pr-mobile:20px;--pt-tablet:64px;--pl-tablet:48px;--pb-tablet:0px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#121212;--bgc-mobile:#000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMx4jyF8UJ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g5NZ4L8Oei"}' data-id="g5NZ4L8Oei" id="g5NZ4L8Oei" data-same-height-subgrid-container class="g5NZ4L8Oei gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 4px;--bc:#8591E4;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:800px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gKP71T-1tP gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gk7fsEhiHm"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:28px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:28px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:28px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1761825495007 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gk7fsEhiHm"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0idXJsKCNnLTczNi01NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0idXJsKCNnLTczNi01NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0idXJsKCNnLTczNi01NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <div
      role="presentation"
      data-id="gzVFosV9Qo"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:28px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:28px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:28px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1761825495008 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzVFosV9Qo"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0idXJsKCNnLTczNi01NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0idXJsKCNnLTczNi01NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU0MiIgZmlsbD0idXJsKCNnLTczNi01NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_588441760489800507-429ff2b7-b351-47e6-976c-bedddc796916.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZLj2SvUDL"
        class="gZLj2SvUDL"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761825495009"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:20px;--pb-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZLj2SvUDL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gS-I0XPjRp"
        class="gS-I0XPjRp"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761825495010"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:20px;--pb-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggS-I0XPjRp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCD2JdlqCZ"
        class="gCD2JdlqCZ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761825495011"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:80px;--pb:0px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:50px;--pb-mobile:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCD2JdlqCZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gx0JGk9WTz"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:21px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1761825495012 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gx0JGk9WTz"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588441760489800507-fb501beb-8fb1-4885-a305-5bb154e9b828.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzIwLTkwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0idXJsKCNnLTcyMC05MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MjAiIHRvPSI3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588441760489800507-fb501beb-8fb1-4885-a305-5bb154e9b828.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzIwLTkwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0idXJsKCNnLTcyMC05MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MjAiIHRvPSI3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_588441760489800507-fb501beb-8fb1-4885-a305-5bb154e9b828.jpg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzIwLTkwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0idXJsKCNnLTcyMC05MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MjAiIHRvPSI3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_588441760489800507-fb501beb-8fb1-4885-a305-5bb154e9b828.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:80%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gA20hGgZp7"
        class="gA20hGgZp7"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761825495013"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-relative empty:gp-pl-[2px] after:gp-content-['Your_custom_text_goes_here'] after:gp-absolute after:gp-select-none after:gp-top-0 after:gp-left-[2px] after:gp-w-full after:gp-truncate after:gp-text-black after:gp-opacity-20 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6A9S7a4Rx"
        class="g6A9S7a4Rx"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761825495014"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:20px;--pb-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6A9S7a4Rx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guIwYjVI0n"
        class="guIwYjVI0n"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761825495015"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:20px;--pb-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguIwYjVI0n_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/the-lost-laws-of-manifestation-audiobook-free-gifts","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:63px;--mb-tablet:63px;--mb-mobile:40px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gW5ReZhLFf"].gp-button-base::before, [data-id="gW5ReZhLFf-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gW5ReZhLFf"]:hover::before, [data-id="gW5ReZhLFf-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gW5ReZhLFf" dataId="gW5ReZhLFf" data-state="idle" aria-label="<p>CHECK AVAILABILITY&gt;&gt;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/the-lost-laws-of-manifestation-audiobook-free-gifts" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:50px;--pr-mobile:50px;--pt-mobile:9px;--pb-mobile:9px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:#004299;--bg:#07B1F3;--c:var(--g-c-text-3, text-3)"
          class="gW5ReZhLFf gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggW5ReZhLFf_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gp7UicNiHR"
        class="gp7UicNiHR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761825495018"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#FAFAFA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:undefined;--pr-mobile:undefined;--pt-mobile:20px;--pb-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggp7UicNiHR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-591052554121642954 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/y1behc-h0/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=591052554037625802&sectionId=591052554121642954)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZLj2SvUDL_text","label":"ggZLj2SvUDL_text","default":"<p><span style=\"font-size:19px;\">You’re not imagining it. Something inside you is ready to shift. While other men keep chasing harder, working longer, the truth is: the flow of manifestation isn’t about effort. It’s about frequency. And according to Dr. Amara’s groundbreaking research, many men suppress the one energetic field that pulls success toward them. But now that field can be consciously restored — and the results are happening faster than you’d expect.</span></p>"},{"type":"html","id":"ggS-I0XPjRp_text","label":"ggS-I0XPjRp_text","default":"<p><span style=\"font-size:18px;\">1. Every day you feel the world moving on without you: the conversations don’t resonate, the opportunities slide past, and you end up wondering if you’re still playing the right game.</span></p><p>&nbsp;</p><p><span style=\"font-size:18px;\">2. It’s not just age, or lack of ideas. It’s the hidden decline of your “signal”— the electromagnetic alignment that makes manifestation respond to you.</span></p><p>&nbsp;</p><p><span style=\"font-size:18px;\">3. Whilst others seem to sprint ahead with less effort, you’re left pushing uphill, wondering where the edge went.</span></p>"},{"type":"html","id":"ggCD2JdlqCZ_text","label":"ggCD2JdlqCZ_text","default":"<p><span style=\"font-size:24px;\"><strong>The Secret That 17 Hedge Fund Titans Flew Across the World to Find</strong></span></p><p><br>&nbsp;</p>"},{"type":"html","id":"gg6A9S7a4Rx_text","label":"gg6A9S7a4Rx_text","default":"<p><span style=\"font-size:18px;\">What Dr. Amara discovered changes the game entirely: a 3,000-year-old Hermetic formula, encoded beneath the sands of Egypt, which maps the human energetic field and shows how to realign it for manifestation. The same patterns that once built empires now can rebuild your inner current, your ability to attract, receive, and direct the flow of life in your favour.</span></p>"},{"type":"html","id":"gguIwYjVI0n_text","label":"gguIwYjVI0n_text","default":"<p><span style=\"font-size:18px;\">When you access <i>The Lost Laws of Manifestation</i>, you’ll:</span></p><p>&nbsp;</p><p><span style=\"font-size:18px;\">✅ Experience the <strong>Energy Return phase, </strong>within days you’ll begin to notice synchronicities, subtle refunds, offers seemingly out of nowhere.</span></p><p>&nbsp;</p><p><span style=\"font-size:18px;\">✅ Activate the <strong>Ancestral Flow phase,</strong> by weeks you’ll attract opportunities from dormant sources: forgotten contacts, reignited projects, doors previously closed.</span></p><p>&nbsp;</p><p><span style=\"font-size:18px;\">✅ Reach the <strong>Vital Rejuvenation phase, </strong>by month three your body, clarity and magnetism align: ideas flow, presence shifts, results accelerate.</span></p><p>&nbsp;</p><p>&nbsp;</p><p><span style=\"font-size:18px;\">Over 12,000 men have already realigned their frequency and begun receiving what they were always capable of attracting. Stories of debt vanishing, creativity surging, doors reopening. This isn’t hype, it’s field-based transformation.</span></p><p>&nbsp;</p><p><span style=\"font-size:18px;\">This material is <strong>not</strong> available in bookstores. Dr. Amara authorised a digital release through a select channel to preserve the energetic integrity of the formula. Right now you can secure access, and a special <strong>limited-time discount</strong> while the “alignment window” is open.</span></p><p>&nbsp;</p>"},{"type":"html","id":"ggW5ReZhLFf_label","label":"ggW5ReZhLFf_label","default":"<p>CHECK AVAILABILITY&gt;&gt;</p>"},{"type":"html","id":"ggp7UicNiHR_text","label":"ggp7UicNiHR_text","default":"<p><span style=\"font-size:18px;\"><strong>Manifestation isn’t a myth. It’s not wishful thinking. It’s a measurable alignment. It’s your current. And right now, you have the opportunity to switch it back on.</strong></span></p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  